.heroImage {
  position: relative;
  background-image: url('/img2.jpg');
  background-size: cover;
  background-position: center;
}

.heroImage::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* Darker overlay with higher opacity */
}

.heroImage:hover::before {
  background: rgba(0, 0, 255, 0.7); /* Darker overlay with higher opacity on hover */
}
